<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Verification Email</h1>
<p><b>Hello <%= @user.name %>,</b></p>
<p>Please click the following link to confirm your email address:</p>
<%= link_to "Confirm Email",  confirmation_url(token: @user.generate_token_for(:email_confirmation), host: 'localhost', port: 3000 ) %>
<p>If you didn't request this, please ignore this email. </p>
</body>
</html>
