<h5><%= I18n.t('view.confirmation.heading_message') %></h5>
<%= form_with url: confirmation_path(email: @user.email), method: :post do |form| %>
  <%= form.submit I18n.t('view.confirmation.button_text') %>
<% end %>
