<h4>Search Trading In A Range: </h4>
<%= form_with url: filtered_tradings_organization_path(@organization.id), method: :get do |form| %>
  <label for="start_date">Start Date:</label>
  <%= form.date_field :start_date %>

  <label for="end_date">End Date:</label>
  <%= form.date_field :end_date %>

  <%= form.submit "Find" %>
<% end %>