<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Monthly Net Expense Email</h1>
<p><b><%= I18n.t('view.expense_mailer.hello') %> <%= @user.name %>,</b></p>
<p><%= I18n.t('view.expense_mailer.net_expense_message', organization_name: @organization.name, net_expense: @net_expense) %></b></p>
</body>
</html>
