<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Monthly Net Expense Email</h1>
<p><b>Hello <%= @user.name %>,</b></p>
<p>The net expense for the last month of your organization <%= @organization.name %> is: <b><%= @net_expense %></b></p>
</body>
</html>
